.collection {
  margin-bottom: 25rem;
  &__btn {
    position: absolute;
    right: 43.7rem;
    bottom: 11rem;
    z-index: 2;
  }
  &__title {
    margin-bottom: 9rem;
  }
  &__content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__left {
    width: 36.5rem;
    height: 57.6rem;
    overflow: hidden;
    &-item {
      width: 100%;
      height: 100%;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &__main {
    width: 36.5rem;
    height: 36.5rem;
    overflow: hidden;
    background: url("./assets/images/no_photo.png");
    background-size: 100% 100%;
    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      img {
        width: 15.5rem;
        height: 14.8rem;
      }
    }
  }
  &__right {
    width: 79rem;
    height: 57.6rem;
    overflow: hidden;
    &-item {
      width: 100%;
      height: 100%;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &__controls {
    position: absolute;
    bottom: 0;
    left: 59.6rem;
    &-pagination {
      display: none;
    }
  }

  &__navigation {
    // .navigation-next, .navigation-prev{
    //     width: 6rem;
    // }
  }
}
@media (max-width: 48em) {
  .collection {
    &__content {
      flex-direction: column;
      gap: 1.6rem;
    }
    &__left {
      width: 100%;
      height: 48rem;
    }
    &__right {
      display: none;
    }
    &__main {
      width: 100%;
      height: 48rem;
      &-item {
        img {
          width: 29rem;
          height: 28rem;
        }
      }
    }
    &__controls {
      position: relative;
      left: 0;
      width: 96%;
      margin-top: 28.2rem;
      margin-left: auto;
      display: flex;
      justify-content: space-between;
      align-self: flex-start;
      &-pagination {
        display: flex;
      }
    }
    &__btn {
      right: 6.4rem;
      left: auto;
      bottom: 15rem;
      .btn-text {
        right: -8rem;
        letter-spacing: 0.65rem;
      }
      .btn-text--first {
        margin-left: -5rem;
      }
      // .btn-text--second {
      //   margin-left: 2rem;
      // }
    }
    &__navigation {
      position: relative;
      left: 0;
    }
  }
}
