.footer {
  width: 100%;
  z-index: 1000;
  &__container {
    position: relative;
    display: flex;
    gap: 8.1rem;
    flex-direction: column;
    padding: 4rem 13.7rem;
  }
  &__top {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  &__bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-logo {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      color: #fff;
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 1.66;
      letter-spacing: 1.5px;
      img {
        width: 4.2rem;
        height: 4.2rem;
      }
    }
    &-year,
    &-rd-subtitle,
    &-agreement {
      color: rgba(255, 255, 255, 0.4);
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.78;
      letter-spacing: 3.5px;
    }
    &-year {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
    }
  }

  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // margin: 0 13.5rem 0 10.4rem;
    width: 22.8rem;
    height: 5.8rem;
    img {
      height: 100%;
    }
  }
  &__menu {
    display: flex;
    gap: 3.5rem;
    &-link {
      display: flex;
      align-items: center;
      gap: 1rem;
      color: #fff;
      font-size: 1.4rem;
      font-weight: 300;
      line-height: 1.78;
      letter-spacing: 0.35rem;
      text-transform: uppercase;
      list-style-type: none;
      cursor: pointer;
    }
    &-icon {
      width: 2.4rem;
      height: 2.4rem;
      img {
        height: 100%;
      }
    }
  }
}
@media (max-width: 48em) {
  .footer {
    &__container {
      padding: 0 3rem 2.4rem 3rem;
    }
    &__top {
      order: 1;
      flex-direction: column;
      align-items: center;
    }
    &__left {
      order: 2;
    }
    &__menu {
      flex-direction: column;
      gap: 5.6rem;
      &-link {
        justify-content: center;
        font-size: 2.6rem;
        font-weight: 400;
        letter-spacing: 0.65rem;
        text-transform: uppercase;
      }
    }
    &__logo {
      margin-bottom: 8rem;
      order: 1;
      position: relative;
      top: auto;
      left: auto;
      transform: translate(0, 0);
    }
    &__right {
      margin-top: 5.6rem;
      order: 3;
      flex-direction: column;
    }
    &__bottom {
      order: 3;
      flex-direction: column;
      align-items: center;
      gap: 3.2rem;
      &-logo {
        order: 1;
        gap: 2.4rem;
        img {
          width: 7.2rem;
          height: 7.2rem;
        }
      }
      &-rd-subtitle,
      &-agreement,
      &-year {
        font-size: 2.8rem;
        line-height: 1;
        letter-spacing: 0.28rem;
      }
      &-rd {
        order: 1;
        &-title {
          font-size: 3rem;
          letter-spacing: 0.28rem;
        }
      }
      &-year {
        order: 3;
        position: relative;
        left: auto;
        transform: translateX(0);
      }
      &-agreement {
        order: 2;
      }
    }
  }
}
