.header {
  width: 100%;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  &__container {
    position: relative;
    height: 13.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 13.7rem;
  }
  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // margin: 0 13.5rem 0 10.4rem;
    width: 22.8rem;
    height: 5.8rem;
    img {
      height: 100%;
    }
  }
  &__menu {
    display: flex;
    gap: 3.5rem;
    &-link {
      display: flex;
      align-items: center;
      gap: 1rem;
      color: #fff;
      font-size: 1.4rem;
      font-weight: 300;
      line-height: 1.78;
      letter-spacing: 0.35rem;
      text-transform: uppercase;
      list-style-type: none;
      cursor: pointer;
    }
    &-icon {
      width: 2.4rem;
      height: 2.4rem;
      img {
        height: 100%;
      }
    }
  }
}
