@keyframes animBanner {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animBannerNav {
  0% {
    transform: scale(0) rotate(90deg);
  }
  100% {
    transform: scale(1) rotate(90deg);
  }
}
@keyframes animCategory {
  0% {
    transform: translateY(100rem);
  }
  50% {
    transform: translateY(-5rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
@keyframes animText {
  0% {
    transform: translate(-48.6%, 20%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(-48.6%, -40%);
  }
}
@keyframes animTextTop {
  0% {
    transform: translateY(70%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes animTextForm {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animRingForm {
  0% {
    transform: translateY(-170%);
    opacity: 0;
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animInputsForm {
  0% {
    transform: translateY(170%);
    opacity: 0;
  }
  50% {
    transform: translateY(-5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes animBtnForm {
  0% {
    transform: translateX(170%);
    opacity: 0;
  }
  50% {
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.anim-btn-form {
  animation: animBtnForm 1s ease-in-out;
}
.anim-form {
  animation: animInputsForm 1s ease-in-out;
}
.anim-ring {
  animation: animRingForm 1s ease-in-out;
}
.anim-form-text {
  animation: animTextForm 1s ease-in-out;
}
.anim-text {
  animation: animText 1s ease-in-out;
}
.anim-textTop {
  animation: animTextTop 1s ease-in-out;
}
.anim-category {
  animation: animCategory 2s ease-in-out;
}

.banner {
  position: relative;
  width: 100%;
  height: 105.8rem;
  margin-bottom: 0;
  overflow: hidden;
  &__coll {
    &-btn {
      position: absolute;
      left: 46.5rem;
      bottom: 41.2rem;
    }
  }
  &__video {
    width: 100%;
    height: 100%;
    padding-top: 10rem;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    width: 100%;
    position: absolute;
    bottom: 10.4rem;
    padding-left: 14rem;
    padding-right: 14rem;
    &-top {
      width: 100%;
      display: flex;
      gap: 2.6rem;
      padding-bottom: 6.8rem;
      border-bottom: 1px solid #fff;
    }
    &-bottom {
      padding-top: 6.8rem;
      display: flex;
      justify-content: space-between;
      font-size: 1.8rem;
      font-weight: 400;
      letter-spacing: 0.45rem;
      text-transform: uppercase;
    }
    &-number {
      margin-top: 0.4rem;
      color: #fff;
      font-family: "BazaART";
      font-size: 2.7rem;
      font-weight: 400;
      line-height: normal;
    }
    &-name {
      display: flex;
      flex-direction: column;
      color: #fff;
      font-family: "Cormorant";
      font-size: 8rem;
      font-weight: 400;
      line-height: 1;
      text-transform: uppercase;
    }
    &-word {
      &:first-child {
      }
      &:nth-child(2) {
        display: inline-block;
        margin-left: 2rem;
      }
    }
    &-count {
      align-self: flex-end;
      margin-left: auto;
      font-size: 1.8rem;
      font-weight: 400;
      letter-spacing: 0.45rem;
      text-transform: uppercase;
    }
    &-arrow {
      display: flex;
      align-items: center;
      // gap: 2.4rem;
      cursor: pointer;
      svg {
        display: inline-block;
        width: 10.8rem;
        height: 100%;
        margin-right: 2.4rem;
      }
      &:hover {
        svg {
          margin-right: 1rem;
          transition: margin-right 0.4s ease-in-out;
        }
        .banner__text-dot {
          svg {
            margin: 0;
          }
        }
      }
    }
    &-dot {
      width: 0.5rem;
      height: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        margin: 0;
        width: 100%;
        height: 100%;
      }
    }
    &-btn {
      position: absolute;
      top: 24.9rem;
      right: 14rem;
    }
  }

  &.coll,
  &.text {
    margin-bottom: 25rem;
  }

  &.anim {
    .banner__info-slider {
      // animation: animBanner 1s ease-in-out;
    }
    .banner__info-text {
      animation: animBanner 1s ease-in-out;
    }
    .banner__info-subtitle {
      animation: animBanner 1s ease-in-out;
    }
    .banner__name {
      animation: animBanner 1s ease-in-out;
    }
    .banner__info-img {
      img {
        animation: animBanner 1s ease-in-out;
      }
    }
    .banner__main-slider {
      animation: animBanner 1s ease-in-out;
    }
    .banner__btn {
      animation: animBanner 1s ease-in-out;
    }
    .banner__main-pagination {
      animation: animBanner 1s ease-in-out;
    }
    .banner__main-navigation {
      animation: animBannerNav 1s ease-in-out;
    }
  }
  &__catalog {
    display: flex;
    &-left {
      position: relative;
      flex: 1;
      padding-top: 23.1rem;
      padding-bottom: 6.4rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // width: 96rem;
      height: 105.8rem;
      background: url("./assets/images/catalog/catalog_back_desk.webp");
      background-size: 100% 100%;
      &.collection {
        padding-top: 18.6rem;
        .banner__content {
          height: 100%;
          padding-bottom: 0;
          justify-content: space-between;
          flex-direction: column;
        }
        .banner__content-title {
          width: 100%;
          margin-top: 0;
          &--second {
            text-align: end;
          }
        }
        .banner__catalog-info {
          position: absolute;
          bottom: 6.4rem;
          right: 12rem;
          padding-left: 0;
          width: 23.6rem;
          color: #909091;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.66;
          text-align: end;
          letter-spacing: 0.375rem;
          text-transform: uppercase;
        }
      }
    }
    &-right {
      position: relative;
      flex: 1;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
    &-bottom {
      position: absolute;
      bottom: 6.4rem;
      left: 50%;
      width: 68rem;
      transform: translateX(-50%);
      display: flex;
      justify-content: space-between;
      color: var(--white, #fff);
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 0.45rem;
      text-transform: uppercase;
      &.collection {
        flex-direction: column;
        gap: 2.4rem;
        .banner__catalog-name {
          font-family: "Cormorant";
          font-size: 2.8rem;
          font-weight: 400;
          line-height: 1;
          letter-spacing: 0.196rem;
          text-transform: uppercase;
        }
        .banner__catalog-separator {
          width: 100%;
        }
        .banner__catalog-info {
          align-self: flex-end;
        }
      }
    }
    &-separator {
      align-self: center;
      content: "";
      width: 33.2rem;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.4);
    }
    &-info {
      padding-left: 14rem;
    }
  }
  &__slider {
    width: 100%;
    // padding: 0 22rem;
    overflow: hidden;
    .swiper-slide {
      width: 57.8rem;
      height: 46.4rem;
      transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
      will-change: width, height;
    }

    &-item {
      display: flex;
      flex-direction: column;
      gap: 2.8rem;
      &.swiper-slide-next,
      &.swiper-slide-prev {
        width: 36.2rem !important;
        height: 35.4rem !important;
        // padding: 0 7rem;
      }
      &.swiper-slide-active {
        width: 57.8rem !important;
        height: 46.4rem !important;
      }
    }
    &-img {
      width: 100%;
      height: 37rem;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-bottom {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    &-name {
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.7;
      letter-spacing: 0.45rem;
      text-transform: uppercase;
      &--second {
        margin-left: 8rem;
      }
    }
    &-price {
      color: #909091;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 0.35rem;
      text-transform: uppercase;
    }
  }
  &__content {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 12rem 6.4rem 14rem;
    &-video {
      width: 36.9rem;
      height: 46.5rem;
      background: linear-gradient(0deg, #1e1e1e 0%, #1e1e1e 100%),
        linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
      background-blend-mode: hue, normal;
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-scroll {
      position: absolute;
      bottom: 0;
      right: 0;
      width: fit-content;
      display: flex;
      gap: 1.2rem;
      padding-bottom: 0.8rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.66;
      letter-spacing: 0.375rem;
      text-transform: uppercase;
      border-bottom: 1px solid #fff;
      svg {
        width: 2.4rem;
        height: 2.4rem;
      }
    }
    &-description {
      width: 29.2rem;
      margin-top: 4.4rem;
      margin-left: auto;
      color: #909091;
      font-size: 1.8rem;
      font-weight: 300;
      line-height: 1.4;
      letter-spacing: 0.09rem;
    }
    &-title {
      position: relative;
      margin-top: 9.8rem;
      color: #fff;
      font-family: "Cormorant";
      font-size: 9.5rem;
      font-weight: 400;
      line-height: 1;
      text-transform: uppercase;
      z-index: 1;
    }
    &-img {
      width: 100%;
      height: 100%;
      img {
        height: 100%;
        object-fit: cover;
        object-position: bottom;
      }
    }
    &-item {
      position: relative;
      width: 34rem;
      height: 29.6rem;
    }
  }
  &__container {
    position: relative;
    display: flex;
    height: 100%;
    padding-top: 19.8rem;
    padding-left: 9rem;
  }
  &__btn {
    position: absolute;
    top: 36.2rem;
    right: 14.2rem;
  }
  &__info,
  &__main {
    flex: 1;
  }
  &__name {
    position: absolute;
    top: 21.4rem;
    left: 20.9rem;
    width: 62.9rem;
    z-index: 3;
    overflow: hidden;
    &-slide {
      text-align: center;
      font-family: "Cormorant";
      font-size: 9.5rem;
      font-weight: 400;
      line-height: 1;
      text-transform: uppercase;
      opacity: 0;
      transform: scale(0);
      transition: opacity 1s ease-in-out, transform 1s ease-in-out;
      &.swiper-slide-active {
        .banner__info-title {
          opacity: 1;
          transform: scale(1);
        }
      }
      &.no-transition {
        .banner__info-title {
          transition: none;
        }
      }
    }
  }
  &__main {
    margin-top: 15.6rem;
    display: flex;
    z-index: 2;
    // gap: 6.5rem;
    &-slider {
      width: 40.6rem;
      height: 51.2rem;
      overflow: hidden;
    }
    &-controls {
      height: 46rem;
      margin-top: 15.6rem;
      margin-right: 6.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      z-index: 10;
    }
    &-img {
      width: 100%;
      height: 100%;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
    &-navigation {
      transform: rotate(90deg);
    }
  }
  &__info {
    z-index: 1;
    &-slider {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    &-img {
      position: absolute;
      top: 50%;
      left: 52%;
      width: 28.8rem;
      height: 27.5rem;
      transform: translate(-50%, -50%);
      // transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
      img {
        opacity: 0;
        transform: scale(0);
        transition: opacity 1s ease-in-out, transform 1s ease-in-out;
      }
    }
    &-title {
      opacity: 0;
      transform: scale(0);
      transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    }

    &-subtitle {
      position: absolute;
      bottom: 12rem;
      right: 15.1rem;
      width: 61rem;
      text-align: center;
      font-family: "Cormorant";
      font-size: 9rem;
      font-weight: 400;
      line-height: 1.1;
      text-transform: uppercase;
      opacity: 0;
      transform: scale(0);
      transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    }
    &-slide {
      &.swiper-slide-active {
        .banner__info-img {
          opacity: 1;
          img {
            opacity: 1;
            transform: scale(1);
          }
        }

        .banner__info-subtitle {
          opacity: 1;
          transform: scale(1);
        }
      }

      &.no-transition {
        .banner__info-img {
          img {
            transition: none;
          }
        }

        .banner__info-subtitle {
          transition: none;
        }
      }
    }

    &-text {
      position: absolute;
      top: 20.8rem;
      right: 44.3rem;
      width: 26.3rem;
      overflow: hidden;
      &-slide {
        width: 100%;
        font-size: 2.5rem;
        font-weight: 300;
        line-height: 1.32;
      }
    }
  }
}
.category {
  overflow: hidden;
  margin-bottom: 0;
  &__container {
    padding: 25.3rem 14rem 0 14rem;
    margin-bottom: 16.1rem;
    overflow: hidden;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6rem;
    &-title {
      width: 36rem;
      color: #fff;
      text-align: center;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.7;
      letter-spacing: 0.85rem;
      text-transform: uppercase;
    }
  }
  &__list {
    position: relative;
    &-wrapper {
      &.swiper-wrapper {
        // transition-timing-function: cubic-bezier(0.5, 1.3, 0.91, 1.02);
        transition-timing-function: cubic-bezier(0.68, 1.61, 0.63, 0.94);
      }
    }
    &-back {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-48.6%, -40%);
      color: #fff;
      text-align: center;
      font-family: "Cormorant";
      font-size: 37rem;
      font-weight: 300;
      line-height: normal;
      text-transform: uppercase;
    }
    &-item {
      position: relative;
      display: flex;
      flex-direction: column;
      color: #fff;
      cursor: pointer;
      &:hover {
        .category__list-img {
          img {
            transform: scale(1.06);
          }
        }
      }
      &:nth-child(odd) {
        width: 82rem;
        margin-top: 21rem;
        .category__list-img {
          height: 50.9rem;
        }
      }
      &:nth-child(even) {
        width: 54.8rem;
        .category__list-img {
          height: 63rem;
        }
      }
    }
    &-number {
      margin-bottom: 3rem;
      color: #fff;
      font-family: "BazaART";
      font-size: 2.7rem;
      font-weight: 400;
      line-height: normal;
    }
    &-name {
      color: #fff;
      font-family: "Cormorant";
      font-size: 4rem;
      font-weight: 400;
      line-height: 0.625;
      letter-spacing: 2.8px;
      text-transform: uppercase;
    }
    &-count {
      color: #fff;
      font-family: "Helvetica Neue";
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 1.66;
      letter-spacing: 3.75px;
      text-transform: uppercase;
    }
    &-info {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
    &-bottom {
      display: flex;
      justify-content: space-between;
    }
    &-link {
      width: 6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        width: 100%;
        height: 100%;
      }
    }
    &-img {
      width: 100%;
      height: 100%;
      margin-bottom: 4rem;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        // object-fit: cover;
        backface-visibility: hidden;
        transform: scale(1);
        will-change: transform;
        transition: transform 0.5s ease-in-out;
      }
    }
  }
}
.process {
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 11rem;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.66;
    letter-spacing: 3.75px;
    text-transform: uppercase;
    &--mob {
      display: none;
    }
  }
  &__main {
    position: relative;
    display: flex;
    &-btn {
      position: absolute;
      top: 20rem;
      left: 55rem;
      width: 25.3rem;
      height: 25.3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.8rem;
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.2);
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.66;
      letter-spacing: 3.75px;
      text-transform: uppercase;
      &--first {
      }
    }
    &-play {
      position: relative;
      width: 3.8rem;
      height: 3.5rem;
      svg {
        width: 100%;
        height: 100%;
      }
      &::after {
        content: "";
        position: absolute;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background-color: #fff;
        top: 50%;
        left: -50%;
        transform: translate(0, -50%);
      }
    }
    &-text {
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.66;
      letter-spacing: 3.75px;
      text-transform: uppercase;
      &--first {
        margin-left: -3.6rem;
      }
      &--second {
        margin-right: -6rem;
      }
    }
  }
  &__list {
    position: relative;
    width: 77.1rem;
    &-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 4.5rem;
    }
    &__pagination {
      display: none;
    }
    &-item {
      position: relative;
      width: fit-content;
      height: fit-content;
      cursor: pointer;
      &.active {
        .process__list-title {
          margin-bottom: 3.2rem;
          color: #fff;
          font-size: 9.5rem;
          // transform: scale(2.1);
        }
        .process__list-item--number {
          opacity: 1;
        }
        // .process__list-description {
        //   display: block;
        // }
      }
      &--number {
        // display: none;
        position: absolute;
        top: -2rem;
        right: -3.8rem;
        color: #fff;
        font-family: "BazaART";
        font-size: 2.7rem;
        font-weight: 400;
        opacity: 0;
        line-height: normal;
        transition: opacity 0.7s ease-in-out;
      }
    }
    &-title {
      color: rgba(255, 255, 255, 0.4);
      font-family: "Cormorant";
      font-size: 4rem;
      font-weight: 400;
      line-height: 1;
      text-transform: uppercase;
      transition: color 0.7s ease-in-out, margin-bottom 0.7s ease-in-out;
    }
    &-description {
      width: 57.5rem;
      // display: none;
      height: 0;
      overflow: hidden;
      color: #ffffffd4;
      font-size: 2rem;
      font-weight: 300;
      line-height: 1.5;
      transition: height 0.7s ease-in-out;
    }
  }
  &__imgs {
    position: relative;
    flex: 1;
    width: 84.9rem;
    height: 88.2rem;
    margin-top: -17rem;
  }
  &__slider {
    position: absolute;
    overflow: hidden;
    &-mob {
      display: none;

      &-item {
      }
    }
    &-slide {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &:nth-child(1) {
      top: 0;
      left: 2.8rem;
      width: 39.3rem;
      height: 49.6rem;
      transform: rotate(-7.896deg);
    }
    &:nth-child(2) {
      top: 14.1rem;
      right: 2.8rem;
      width: 38.9rem;
      height: 51.3rem;
      transform: rotate(5.961deg);
    }
    &:nth-child(3) {
      bottom: 2.8rem;
      left: 16.6rem;
      width: 27.5rem;
      height: 33.6rem;
      transform: rotate(7.137deg);
    }

    &-main {
      position: absolute;
      width: 54rem;
      height: 54rem;
      top: 6.2rem;
      left: 8.2rem;
      overflow: hidden;
      &-slide {
        &.swiper-slide {
          transition-property: transform, opacity;
        }
        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  &__navigation {
    position: absolute;
    bottom: 7rem;
    right: 0;
  }
  &__pagination {
    display: none;
  }
}

.advantages {
  position: relative;
  &__content {
    position: relative;
    display: flex;
    width: 100%;
    height: 115.9rem;
    &-slider {
      display: none;
    }
  }
  &__inner {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    &-left,
    &-right {
      flex: 1;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &__right,
  &__left {
    position: relative;
    width: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__left {
    // padding: 18.4rem 24.2rem;
    &-number {
      position: absolute;
      bottom: 4.6rem;
      left: 50%;
      font-family: "BazaART";
      font-size: 2.7rem;
      font-weight: 400;
      line-height: normal;
      transform: translateX(-50%);
    }
    &-slider {
      width: 47.6rem;
      height: 60rem;
      background-color: #1f1e20;
      overflow: hidden;
    }
    &-slide {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-img {
      width: 34.8rem;
      height: 31rem;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &__right {
    &-wrapper {
      // transition-timing-function: cubic-bezier(0.22, 1.05, 0.79, 0.05);
      // transition-timing-function: cubic-bezier(0.2, 1.13, 0.68, 0.14);
      flex-direction: column;
      scroll-snap-type: mandatory;
      scroll-snap-points-y: repeat(100vh);
      scroll-snap-type: y mandatory;
    }
    &-slide {
      padding-top: 0;
      height: 100%;
    }
    // &.swiper-slide {

    // }
    &-slider {
      width: 100%;
      overflow: hidden;
    }
    &-img {
      width: 29.3rem;
      height: 33.7rem;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
    &-slide {
      // padding-top: 18.4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &-subtitle {
      width: 43.2rem;
      margin-bottom: 16.3rem;
      text-align: center;
    }
    &-title {
      width: 85.7rem;
      margin-bottom: 6.5rem;
      text-align: center;
      font-family: "Cormorant";
      font-size: 9.5rem;
      font-weight: 400;
      line-height: 1;
      text-transform: uppercase;
    }
    &-description {
      width: 50.7rem;
      margin-bottom: 16.3rem;
      text-align: center;
      font-size: 2rem;
      font-weight: 300;
      line-height: 1.5;
    }
  }
  &__btn {
    position: absolute;
    right: 2.5rem;
    bottom: 24.4rem;
  }
}

@media (max-width: 48em) {
  .inner {
    flex-direction: column;
    height: 162.4rem;
    &-left {
      flex: 1;
      width: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &-right {
      flex: 1;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .banner {
    height: 162.4rem;
    &.coll {
      height: 142rem;
      .banner__catalog {
        padding-top: 21rem;
        gap: 4rem;
        .btn-text.coll {
          right: -2.8rem;
          .btn-text--first {
            margin-left: -8rem;
          }
        }
      }
    }
    &__video {
      padding-top: 14.4rem;
    }
    &__text {
      padding: 0 3.6rem;
      &-top {
        padding-bottom: 8rem;
      }
      &-bottom {
        padding-top: 8rem;
      }
      &-name {
        font-size: 7.2rem;
      }
      &-number {
        font-size: 3.6rem;
        font-weight: 400;
      }
      &-btn {
        top: 30.4rem;
        right: 3.2rem;
      }
      &-count {
        font-size: 2.6rem;
      }
      &-collection {
        font-size: 2.6rem;
      }
      &-arrow {
        width: 6.8rem;
      }
    }
    &__catalog {
      &-left {
        margin-bottom: 0;
        &.collection {
          padding-top: 0;
          padding-bottom: 0;
          .banner__content-title--second {
            margin-bottom: 4.8rem;
            text-align: start;
          }
        }
      }
      &-right {
        height: 68rem;
      }
      &-bottom {
        margin-bottom: 0;
        &.collection {
          gap: 4.8rem;
          bottom: 3.2rem;
          .banner__catalog-name {
            font-size: 4rem;
            line-height: normal;
          }
          .banner__catalog-info {
            font-size: 2.6rem;
            color: #fff;
          }
        }
      }
    }
    &__coll {
      &-btn {
        left: auto;
        right: 5.6rem;
        bottom: 48.1rem;
        .btn-text {
          right: -3.6rem;
        }
      }
    }
    &__content {
      &-title {
        font-size: 7.2rem;
      }
      &-video {
        width: 100%;
        height: 34rem;
      }
    }

    &__main {
      margin-top: 10.6rem;
      flex: 0;
      justify-content: flex-end;
      &-controls {
        position: absolute;
        height: 32.2rem;
        left: 0;
        top: 4rem;
      }
      &-slider {
        width: 55.4rem;
        height: 31.2rem;
      }
    }
    &__container {
      flex-direction: column;
      gap: 5.2rem;
      padding: 0 3rem;
      padding-top: 20rem;
    }
    &__content {
    }
    &__slider {
      padding-left: 3.6rem;
      &-item {
        width: 48rem !important;
        height: 68.2rem !important;
        display: flex;
        flex-direction: column;
        gap: 6.4rem;
        &.swiper-slide-active {
          width: 48rem !important;
          height: 68.2rem !important;
        }
        &.swiper-slide-next,
        &.swiper-slide-prev {
          width: 48rem !important;
          height: 56.2rem !important;
          // padding: 0 7rem;
          .banner__slider-img {
            width: 100%;
            height: 44rem;
          }
        }
      }
      &-name {
        font-size: 2.6rem;
        letter-spacing: 0.65rem;
        line-height: 1.5;
        &--second {
          margin-left: 0;
        }
      }
      &-price {
        font-size: 2.6rem;
        white-space: nowrap;
      }
      &-img {
        width: 100%;
        height: 56rem;
      }
    }

    &__catalog {
      &-left {
        padding-top: 17.8rem;
      }
      &-info {
      }
    }

    &__name {
      width: 32.9rem;
      top: 19.4rem;
      left: 15.9rem;
    }
    &__info {
      flex: 0;
      // position: relative;
      // top: 0;
      // left: 0;
      // margin-top: -55rem;
      &-subtitle,
      &-title {
        font-size: 7.2rem;
        font-family: "Cormorant";
      }
      &-slider {
        position: relative;
        top: auto;
        height: auto;
      }
      &-subtitle {
        // bottom: 49rem;
        position: relative;
        top: auto;
        left: auto;
        bottom: auto;
        right: auto;
        text-align: start;
        // margin-left: 3rem;
      }
      &-description {
      }
      &-img {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 auto;
        margin-bottom: 5.6rem;
        width: 29.8rem;
        height: 28.8rem;
        transform: translate(0, 0);
      }
      &-text {
        position: relative;
        top: 0;
        right: 0;
        margin-top: 6.4rem;
        &-slide {
          color: #fff;
          font-size: 2.8rem;
          font-weight: 300;
          line-height: 1.42;
          letter-spacing: 0.7px;
        }
        // margin-top: 20rem;
      }
      &-title {
        p {
          &:nth-child(2) {
            margin-right: -6rem;
          }
        }
        font-weight: 400;
        line-height: 1;
        text-transform: uppercase;
      }
    }
    &__btn {
      top: auto;
      bottom: 12rem;
      right: 8.8rem;
    }
  }
  .category {
    &__container {
      padding: 0 3rem;
      padding-top: 24rem;
      flex-direction: column;
    }
    &__top {
      position: relative;
      width: 100%;
      flex-direction: column;
      gap: 9.4rem;
      &-navigation {
        position: absolute;
        bottom: 0;
        margin-left: 2rem;
      }
      &-title {
        width: 89%;
        margin: 0 auto;
        text-align: center;
        font-size: 3.7rem;
        font-weight: 400;
        line-height: 1.55;
        letter-spacing: 1rem;
        text-transform: uppercase;
      }
      &-pagination {
        align-self: flex-end;
      }
    }
    &__list {
      &-back {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -57%);
        font-size: 30rem;
        font-weight: 300;
        line-height: normal;
        text-transform: uppercase;
      }
      &-item {
        width: 48rem;
        height: auto;
        &:nth-child(odd),
        &:nth-child(even) {
          width: 48rem;
          height: auto;
          .category__list-img {
            width: 100%;
            height: 56rem;
          }
        }
        &:nth-child(odd) {
          margin-top: 12rem;
        }
      }
      &-img {
        width: 100%;
        height: 56rem;
      }
      &-info {
        gap: 3.2rem;
      }
      &-name {
        font-family: "Cormorant";
        font-size: 5.2rem;
        font-weight: 400;
        letter-spacing: 1.82px;
        text-transform: uppercase;
      }
      &-number {
        font-size: 3.6rem;
        font-weight: 400;
        line-height: normal;
      }
      &-count {
        font-size: 2.6rem;
        font-weight: 400;
        line-height: 1.53;
        letter-spacing: 2.6px;
        text-transform: uppercase;
      }
      &-link {
        align-self: center;
        width: 7.2rem;
        height: 2.4rem;
        svg {
          path {
            stroke-width: 1px;
          }
        }
      }
    }
  }
  .process {
    margin-top: -2rem;
    &__container {
    }
    &__top {
      display: none;
      &--mob {
        width: fit-content;
        margin: 0 auto;
        margin-bottom: 8.6rem;
        gap: 1rem;
        font-size: 2.6rem;
        font-weight: 400;
        line-height: 1.66;
        letter-spacing: 3.75px;
        text-transform: uppercase;
        text-align: center;
      }
      &-right {
      }
    }
    &__main {
      flex-direction: column;
      &-text {
        margin-left: -3rem;
        font-size: 2.6rem;
        font-weight: 400;
        line-height: 1.53;
        letter-spacing: 0.5rem;
        text-transform: uppercase;
      }
      &-btn {
        top: auto;
        left: auto;
        right: 0rem;
        bottom: 20rem;
        width: 28rem;
        height: 28rem;
        z-index: 5;
      }
      &-play {
        margin-right: -3rem;
        width: 4.8rem;
        height: 4.8rem;
        &::after {
          left: -64%;
          width: 1rem;
          height: 1rem;
        }
      }
    }
    &__navigation {
      position: relative;
      bottom: auto;
      margin-left: 1rem;
      width: fit-content;
      margin-top: 10rem;
    }
    &__imgs {
      width: 100%;
      height: 62.2rem;
      margin-top: 5rem;
      flex: auto;
    }
    &__slider {
      display: none;
      &-mob {
        position: relative;
        display: block;
        width: 68.2rem;
        height: 62rem;
        &-img {
          position: absolute;
          img {
            height: 100%;
            object-fit: cover;
          }

          &:first-child {
            top: 0rem;
            left: 2rem;
            width: 29.7rem;
            height: 37.4rem;
            img {
              transform: rotate(-7.896deg);
            }
          }
          &:nth-child(2) {
            top: 2rem;
            right: 1.8rem;
            width: 29rem;
            height: 38.2rem;
            img {
              transform: rotate(5.961deg);
            }
          }
          &:nth-child(3) {
            top: 3.2rem;
            right: 13rem;
            width: 43.6rem;
            height: 43.6rem;
            img {
              transform: rotate(6.968deg);
            }
          }
          &:last-child {
            left: 14.2rem;
            bottom: 2rem;
            width: 20.8rem;
            height: 25.4rem;
            img {
              transform: rotate(7.137deg);
            }
          }
        }
        &-item {
          &.swiper-slide {
            opacity: 0;
            transform: scale(0);
            overflow: inherit;
            transform-origin: center;
          }
          transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
          &.swiper-slide-active {
            transform: scale(1);
            opacity: 1;
          }
        }
      }

      &-main {
        display: none;
        width: 40rem;
        height: 40rem;
        left: 13rem;
      }
      &:nth-child(1) {
        left: 2rem;
        width: 29.2rem;
        height: 34.2rem;
      }
      &:nth-child(2) {
        right: 2rem;
        width: 28.8rem;
        height: 35rem;
      }
      &:nth-child(3) {
        bottom: 0;
        width: 20.4rem;
        height: 25.2rem;
        z-index: 2;
      }
    }
    &__pagination {
      position: absolute;
      display: flex;
      bottom: 0;
      right: 0;
    }
    &__list {
      padding-top: 2rem;
      width: 100%;
      overflow: hidden;
      &-wrapper {
        gap: 0;
      }
      &-description {
        width: 92%;
        margin: 0 auto;
        font-size: 2.8rem;
        font-weight: 300;
        line-height: 1.35;
        letter-spacing: 0.7px;
      }
      &-item {
        text-align: center;
        &.active {
          .process__list-title {
            font-size: 7.2rem;
            margin-bottom: 4rem;
          }
        }
      }
      &-title {
        font-size: 7.2rem;
        margin-bottom: 4rem;
      }
      &-wrapper {
        flex-direction: row;
      }
      &-description {
        height: 100%;
      }
    }
  }
  .advantages {
    &__inner {
      flex-direction: column;
      &-left {
        // height: 76.8rem;
        height: 16.6rem;
        flex: none;
      }
      &-right {
        // height: 83.4rem;
        height: 100vh;
      }
    }
    &__btn {
      right: 7rem;
      bottom: 10rem;
      .btn-text {
        right: -4rem;
        bottom: 5.1rem;
      }
      .btn-text--first {
        margin-left: -4rem;
      }
      .btn-text--second {
      }
    }
    &__content {
      position: relative;
      // height: 160.8rem;
      height: 100vh;
      flex-direction: column;
      &-slider {
        padding-top: 4rem;
        width: 100%;
        height: 40.6rem;
        display: block;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;
        // gap: 4rem;
        background: url("./assets/images/card_back.webp");
        background-size: 100% 100%;
        color: #fff;
        text-align: center;
        font-size: 2.6rem;
        font-weight: 400;
        letter-spacing: 0.65rem;
        text-transform: uppercase;
        overflow: hidden;
      }
      &-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16rem;
        flex-wrap: wrap;
      }
      &-bottom {
        position: absolute;
        right: -40rem;
        bottom: 6rem;
        // width: 20rem;
        width: 100%;
        height: 19rem;
      }
      &-pagination {
        position: absolute;
        bottom: 10rem;
        left: 13rem;
      }
      &-title {
        margin-top: 5rem;
        width: 100%;
        text-align: center;
      }
      &-item {
        // width: 100%;
        width: 77.2rem;
        height: 100%;
      }
      &-img {
        width: 19.6rem;
        height: 100%;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }
    &__left {
      // height: 77.1rem;
      width: 100%;
      height: 16.6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: auto;
      overflow: hidden;
      // justify-content: flex-start;

      flex: inherit;
      &-title {
        // margin-top: 12rem;
        margin-top: 0;
        margin-bottom: 0;
      }
      .btn {
        display: none;
      }

      &-slider {
        display: none;
        align-self: baseline;
        width: 42.2rem;
        height: 39.4rem;
        margin-left: 3rem;
      }
    }
    &__right {
      // height: 82.8rem;
      width: 100%;
      height: 100%;
      overflow: hidden;
      flex: 1;
      &-img {
        // width: 30.6rem;
        // height: 47rem;
        width: 30.6rem;
        height: 28rem;
      }
      &-slider {
        width: 100%;
        height: 100%;
      }
      &-slide {
        padding-top: 10rem;
      }
      &-subtitle {
        margin-bottom: 9.6rem;
        font-size: 2.6rem;
      }
      &-title {
        width: 90%;
        margin-bottom: 4rem;
        font-size: 7.2rem;
      }
      &-wrapper {
        transition-timing-function: ease-in-out;
      }
      &-description {
        width: 80%;
        margin-bottom: 10rem;
        font-size: 2.8rem;
        font-weight: 300;
        line-height: 1.42;
        letter-spacing: 0.7px;
      }
    }
  }
}
