<header class="header">
  <div class="header__container container">
    <div class="header__left">
      <ul class="header__menu">
        <li class="header__menu-link">Кольца</li>
        <li class="header__menu-link">Серьги</li>
        <li class="header__menu-link">Кулоны</li>
        <li class="header__menu-link">Сеты</li>
        <li class="header__menu-link">Мужские изделия</li>
      </ul>
    </div>
    <div class="header__logo">
      <img src="./assets/images/logo.svg" alt="" />
    </div>
    <ul class="header__right">
      <ul class="header__menu">
        <li class="header__menu-link">изделия на заказ</li>
        <li class="header__menu-link">О нас</li>
        <li class="header__menu-link">контакты</li>
        <button class="header__menu-link">
          <span class="header__menu-text">Поиск</span>
          <div class="header__menu-icon">
            <img src="./assets/images/search.svg" alt="" />
          </div>
        </button>
      </ul>
    </ul>
  </div>
</header>
