<footer class="footer">
  <div class="footer__container container">
    <div class="footer__top">
      <div class="footer__left">
        <ul class="footer__menu">
          <li class="footer__menu-link"><a href="">Кольца</a></li>
          <li class="footer__menu-link"><a href="">Серьги</a></li>
          <li class="footer__menu-link"><a href="">Кулоны</a></li>
          <li class="footer__menu-link"><a href="">Сеты</a></li>
          <li class="footer__menu-link">
            <a href="../../collection.html">Коллекции</a>
          </li>
        </ul>
      </div>
      <a href="../home.html" class="footer__logo">
        <img src="./assets/images/logo.svg" alt="" />
      </a>
      <ul class="footer__right">
        <ul class="footer__menu">
          <li class="footer__menu-link"><a href="">изделия на заказ</a></li>
          <li class="footer__menu-link">
            <a href="../../about.html">О нас</a>
          </li>
          <li class="footer__menu-link">
            <a href="../../contacts.html">контакты</a>
          </li>
        </ul>
      </ul>
    </div>
    <div class="footer__bottom">
      <div class="footer__bottom-logo">
        <img src="./assets/images/rd.svg" alt="" />
        <a href="https://requestdesign.ru" class="footer__bottom-rd">
          <div class="footer__bottom-rd-subtitle">Design & Dev</div>
          <div class="footer__bottom-rd-title">Request Design</div>
        </a>
      </div>
      <div class="footer__bottom-year">@2023</div>
      <a href="#" class="footer__bottom-agreement"
        >Пользовательское соглашение</a
      >
    </div>
  </div>
</footer>
