<div class="overlay"></div>
<div class="modal">
  <div class="modal_container">
    <div class="modal__image">
      <img src="../../assets/images/modal.png" alt="" />
    </div>
    <div class="modal__main visible">
      <div class="modal__main-title">заказать урашение</div>
      <button class="modal__main-close">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="42"
          height="42"
          viewBox="0 0 42 42"
          fill="none"
        >
          <path
            d="M10.5 10.5L31.4998 31.4998"
            stroke="white"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M10.5002 31.4998L31.5 10.5"
            stroke="white"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
      <form class="modal__form form">
        <div class="modal__form-wrapper">
          <input
            type="text"
            class="modal__form-inp form_input"
            placeholder="Ваше имя"
          />
        </div>
        <div class="modal__form-wrapper">
          <input
            type="text"
            class="modal__form-inp form_input form_email"
            placeholder="email"
          />
        </div>
        <div class="modal__form-wrapper">
          <input
            type="text"
            class="modal__form-inp form_input form_phone"
            placeholder="телефон"
          />
        </div>
        <div class="modal__form-agreement">
          Отправляя форму, вы принимаете пользовательское соглашение
        </div>
        <button class="modal__form-btn btn" data-wow-duration="2s">
          <div class="btn-arrow">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="109"
              height="16"
              viewBox="0 0 109 16"
              fill="none"
            >
              <path
                d="M108.707 8.71101C109.098 8.32049 109.098 7.68732 108.707 7.2968L102.343 0.932838C101.953 0.542314 101.319 0.542314 100.929 0.932838C100.538 1.32336 100.538 1.95653 100.929 2.34705L106.586 8.00391L100.929 13.6608C100.538 14.0513 100.538 14.6844 100.929 15.075C101.319 15.4655 101.953 15.4655 102.343 15.075L108.707 8.71101ZM0 9.00391H108V7.00391H0V9.00391Z"
                fill="white"
              />
            </svg>
            <img src="./assets/images/arrows.svg" alt="" />
          </div>
          <div class="btn-back"></div>
          <div class="request__btn-text btn-text">
            <div class="request__btn-text--first">оставить</div>
            <div class="request__btn-text--second">заявку</div>
          </div>
        </button>
      </form>
    </div>
    <div class="modal__success">
      <div class="modal__main-title">Заявка отправлена!</div>
      <div class="modal__main-desc">Мы свяжемся с Вами в ближайшее время</div>
      <a href="" class="modal__form-btn btn">
        <div class="btn-arrow">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="109"
            height="16"
            viewBox="0 0 109 16"
            fill="none"
          >
            <path
              d="M108.707 8.71101C109.098 8.32049 109.098 7.68732 108.707 7.2968L102.343 0.932838C101.953 0.542314 101.319 0.542314 100.929 0.932838C100.538 1.32336 100.538 1.95653 100.929 2.34705L106.586 8.00391L100.929 13.6608C100.538 14.0513 100.538 14.6844 100.929 15.075C101.319 15.4655 101.953 15.4655 102.343 15.075L108.707 8.71101ZM0 9.00391H108V7.00391H0V9.00391Z"
              fill="white"
            />
          </svg>
          <img src="./assets/images/arrows.svg" alt="" />
        </div>
        <div class="btn-back"></div>
        <div class="request__btn-text btn-text">
          <div class="request__btn-text--first">На главную</div>
          <div class="request__btn-text--second">страницу</div>
        </div>
      </a>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="footer__container container">
    <div class="footer__top">
      <div class="footer__left">
        <ul class="footer__menu">
          <li class="footer__menu-link"><a href="">Кольца</a></li>
          <li class="footer__menu-link"><a href="">Серьги</a></li>
          <li class="footer__menu-link"><a href="">Кулоны</a></li>
          <li class="footer__menu-link"><a href="">Сеты</a></li>
          <li class="footer__menu-link">
            <a href="../../collection.html">Коллекции</a>
          </li>
        </ul>
      </div>
      <a href="../home.html" class="footer__logo">
        <img src="./assets/images/logo.svg" alt="" />
      </a>
      <ul class="footer__right">
        <ul class="footer__menu">
          <li class="footer__menu-link"><a href="">изделия на заказ</a></li>
          <li class="footer__menu-link">
            <a href="../../about.html">О нас</a>
          </li>
          <li class="footer__menu-link">
            <a href="../../contacts.html">контакты</a>
          </li>
        </ul>
      </ul>
    </div>
    <div class="footer__bottom">
      <div class="footer__bottom-logo">
        <img src="./assets/images/rd.svg" alt="" />
        <a href="https://requestdesign.ru" class="footer__bottom-rd">
          <div class="footer__bottom-rd-subtitle">Design & Dev</div>
          <div class="footer__bottom-rd-title">Request Design</div>
        </a>
      </div>
      <div class="footer__bottom-year">@2023</div>
      <a href="#" class="footer__bottom-agreement"
        >Пользовательское соглашение</a
      >
    </div>
  </div>
</footer>
