<header class="header">
  <div class="header__container container">
    <div class="header__main">
      <button class="burger-btn" aria-label="Main Menu">
        <svg width="100" height="100" viewBox="0 0 100 100">
          <path
            class="line line1"
            d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058"
          />
          <path class="line line2" d="M 20,50 H 80" />
          <path
            class="line line3"
            d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942"
          />
        </svg>
      </button>
      <div class="header__left">
        <ul class="header__menu">
          <li class="header__menu-link link-category">Кольца</li>
          <li class="header__menu-link link-category">Серьги</li>
          <li class="header__menu-link link-category">Кулоны</li>
          <li class="header__menu-link link-category">Сеты</li>
          <li class="header__menu-link link-category">Мужские изделия</li>
        </ul>
      </div>
      <div class="header__logo">
        <img src="./assets/images/logo.svg" alt="" />
      </div>
      <div class="header__right">
        <ul class="header__menu">
          <li class="header__menu-link link">изделия на заказ</li>
          <li class="header__menu-link link">О нас</li>
          <li class="header__menu-link link">контакты</li>
          <button class="header__menu-link search-btn">
            <span class="header__menu-text">Поиск</span>
            <div class="header__menu-search search"><input type="text" /></div>
            <div class="header__menu-icon">
              <img src="./assets/images/search.svg" alt="" />
            </div>
          </button>
        </ul>
      </div>
      <button class="header__search search-btn">
        <div class="header__search-icon">
          <img src="./assets/images/search.svg" alt="" />
        </div>
      </button>
    </div>
    <div class="header__bottom">
      <div class="header__wrapper">
        <ul class="header__wrapper-menu">
          <li class="header__wrapper-item"><a href="">Eternal classic</a></li>
          <li class="header__wrapper-item"><a href="">diamond tracks</a></li>
          <li class="header__wrapper-item"><a href="">stars scattering</a></li>
          <li class="header__wrapper-item"><a href="">Eternal classic</a></li>
          <li class="header__wrapper-item">
            <a href="">Eternal classic</a>
          </li>
          <li class="header__wrapper-item"><a href="">Eternal classic</a></li>
        </ul>
        <div class="header__wrapper-imgs">
          <div class="header__wrapper-img no-photo">
            <img src="./assets/images/ring.png" alt="" />
          </div>
          <div class="header__wrapper-img">
            <img src="./assets/images/header_img.png" alt="" />
          </div>
          <div class="header__wrapper-img no-photo">
            <img src="./assets/images/ring.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="header__bottom">
      <div class="header__wrapper">
        <ul class="header__wrapper-menu">
          <li class="header__wrapper-item"><a href="">Eternal classic</a></li>
          <li class="header__wrapper-item"><a href="">diamond tracks</a></li>
          <li class="header__wrapper-item"><a href="">stars scattering</a></li>
          <li class="header__wrapper-item"><a href="">Eternal classic</a></li>
          <li class="header__wrapper-item">
            <a href="">Eternal classic</a>
          </li>
          <li class="header__wrapper-item"><a href="">Eternal classic</a></li>
        </ul>
        <div class="header__wrapper-imgs">
          <div class="header__wrapper-img no-photo">
            <img src="./assets/images/ring.png" alt="" />
          </div>
          <div class="header__wrapper-img">
            <img src="./assets/images/header_img.png" alt="" />
          </div>
          <div class="header__wrapper-img no-photo">
            <img src="./assets/images/ring.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="header__bottom">
      <div class="header__wrapper">
        <ul class="header__wrapper-menu">
          <li class="header__wrapper-item"><a href="">Eternal classic</a></li>
          <li class="header__wrapper-item"><a href="">diamond tracks</a></li>
          <li class="header__wrapper-item"><a href="">stars scattering</a></li>
          <li class="header__wrapper-item"><a href="">Eternal classic</a></li>
          <li class="header__wrapper-item">
            <a href="">Eternal classic</a>
          </li>
          <li class="header__wrapper-item"><a href="">Eternal classic</a></li>
        </ul>
        <div class="header__wrapper-imgs">
          <div class="header__wrapper-img no-photo">
            <img src="./assets/images/ring.png" alt="" />
          </div>
          <div class="header__wrapper-img">
            <img src="./assets/images/header_img.png" alt="" />
          </div>
          <div class="header__wrapper-img no-photo">
            <img src="./assets/images/ring.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="header__bottom">
      <div class="header__wrapper">
        <ul class="header__wrapper-menu">
          <li class="header__wrapper-item"><a href="">Eternal classic</a></li>
          <li class="header__wrapper-item"><a href="">diamond tracks</a></li>
          <li class="header__wrapper-item"><a href="">stars scattering</a></li>
          <li class="header__wrapper-item"><a href="">Eternal classic</a></li>
          <li class="header__wrapper-item">
            <a href="">Eternal classic</a>
          </li>
          <li class="header__wrapper-item"><a href="">Eternal classic</a></li>
        </ul>
        <div class="header__wrapper-imgs">
          <div class="header__wrapper-img no-photo">
            <img src="./assets/images/ring.png" alt="" />
          </div>
          <div class="header__wrapper-img">
            <img src="./assets/images/header_img.png" alt="" />
          </div>
          <div class="header__wrapper-img no-photo">
            <img src="./assets/images/ring.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="header__bottom">
      <div class="header__wrapper">
        <ul class="header__wrapper-menu">
          <li class="header__wrapper-item"><a href="">Eternal classic</a></li>
          <li class="header__wrapper-item"><a href="">diamond tracks</a></li>
          <li class="header__wrapper-item"><a href="">stars scattering</a></li>
          <li class="header__wrapper-item"><a href="">Eternal classic</a></li>
          <li class="header__wrapper-item">
            <a href="">Eternal classic</a>
          </li>
          <li class="header__wrapper-item"><a href="">Eternal classic</a></li>
        </ul>
        <div class="header__wrapper-imgs">
          <div class="header__wrapper-img no-photo">
            <img src="./assets/images/ring.png" alt="" />
          </div>
          <div class="header__wrapper-img">
            <img src="./assets/images/header_img.png" alt="" />
          </div>
          <div class="header__wrapper-img no-photo">
            <img src="./assets/images/ring.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="header__bottom-search no-anim">
      <div class="header__popular">
        <div class="header__popular-top">
          <a href="#" class="header__popular-back">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M15.25 4.25L7.75 11.75L15.25 19.25"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </a>
          <button class="header__search-btn search-btn">
            <div class="header__search-inp search">
              <input type="text" placeholder="Поиск" />
            </div>
            <div class="header__search-icon">
              <img src="./assets/images/search.svg" alt="" />
            </div>
          </button>
        </div>

        <ul class="header__popular-list">
          <li class="header__popular-item"><a href="">золото</a></li>
          <li class="header__popular-item"><a href="">кольца</a></li>
          <li class="header__popular-item"><a href="">белое золото</a></li>
          <li class="header__popular-item"><a href="">с бриллиантом</a></li>
          <li class="header__popular-item">
            <a href="">платина</a>
          </li>
          <li class="header__popular-item"><a href="">круглая</a></li>
          <li class="header__popular-item"><a href="">лабрет</a></li>
          <li class="header__popular-item"><a href="">пусеты</a></li>
          <li class="header__popular-item"><a href="">пусеты</a></li>
          <li class="header__popular-item"><a href="">с бриллиантом</a></li>
          <li class="header__popular-item"><a href="">золото</a></li>
          <li class="header__popular-item"><a href="">кольца</a></li>
          <li class="header__popular-item"><a href="">белое золото</a></li>
        </ul>
        <div class="header__search-list">
          <ul class="header__search-result">
            <li class="header__search-item">
              <div class="header__search-img">
                <img src="./assets/images/ring.png" alt="" />
              </div>
              <div class="header__search-content">
                <span class="header__search-name">Кольцо Eternal classic</span>
                <span class="header__search-price">78 000 ₽</span>
              </div>
            </li>
            <li class="header__search-item">
              <div class="header__search-img">
                <img src="./assets/images/ring.png" alt="" />
              </div>
              <div class="header__search-content">
                <span class="header__search-name">Кольцо Eternal classic</span>
                <span class="header__search-price">78 000 ₽</span>
              </div>
            </li>
            <li class="header__search-item">
              <div class="header__search-img">
                <img src="./assets/images/ring.png" alt="" />
              </div>
              <div class="header__search-content">
                <span class="header__search-name">Кольцо Eternal classic</span>
                <span class="header__search-price">78 000 ₽</span>
              </div>
            </li>
            <li class="header__search-item">
              <div class="header__search-img">
                <img src="./assets/images/ring.png" alt="" />
              </div>
              <div class="header__search-content">
                <span class="header__search-name">Кольцо Eternal classic</span>
                <span class="header__search-price">78 000 ₽</span>
              </div>
            </li>
            <li class="header__search-item">
              <div class="header__search-img">
                <img src="./assets/images/ring.png" alt="" />
              </div>
              <div class="header__search-content">
                <span class="header__search-name">Кольцо Eternal classic</span>
                <span class="header__search-price">78 000 ₽</span>
              </div>
            </li>
            <li class="header__search-item">
              <div class="header__search-img">
                <img src="./assets/images/ring.png" alt="" />
              </div>
              <div class="header__search-content">
                <span class="header__search-name">Кольцо Eternal classic</span>
                <span class="header__search-price">78 000 ₽</span>
              </div>
            </li>
          </ul>
          <a href="#" class="header__search-more">смотреть все</a>
        </div>
      </div>
    </div>
    <div class="header__mob no-anim">
      <div class="header__mob-top">
        <div class="header__mob-logo">
          <img src="./assets/images/logo.svg" alt="" />
        </div>
        <div class="header__mob-close">
          <img src="./assets/images/close.svg" alt="" />
        </div>
      </div>

      <div class="header__mob-main">
        <div class="header__mob-content">
          <ul class="header__mob-menu">
            <li class="header__mob-item">Кольца</li>
            <li class="header__mob-item">Серьги</li>
            <li class="header__mob-item">Кулоны</li>
            <li class="header__mob-item">Сеты</li>
            <div class="header__mob-item">
              <div class="header__mob-name">
                <span>коллекции</span>
                <img src="./assets/images/arrow.svg" alt="" />
              </div>

              <ul class="header__mob-list">
                <li class="">eternal classic</li>
                <li class="">eternal classic</li>
                <li class="">eternal classic</li>
                <li class="">eternal classic</li>
                <li class="">eternal classic</li>
                <li class="">eternal classic</li>
                <li class="">eternal classic</li>
                <li class="">eternal classic</li>
                <li class="">eternal classic</li>
              </ul>
            </div>
          </ul>
          <ul class="header__mob-menu">
            <li class="header__mob-item">изделия на заказ</li>
            <li class="header__mob-item">О нас</li>
            <li class="header__mob-item">Кулоны</li>
            <li class="header__mob-item">контакты</li>
          </ul>
        </div>
        <div class="header__mob-bottom">
          <ul class="header__mob-contacts">
            <li class="header__mob-wrapper">
              <span class="header__mob-text">телефон:</span>
              <span class="header__mob-contact">+7 (926) 591-35-91</span>
            </li>
            <li class="header__mob-wrapper">
              <span class="header__mob-text">email:</span>
              <span class="header__mob-contact">dokimm@mail.ru</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
