@keyframes animTextFill {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100% 0;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1110;
  transform: translateX(-200%);
  background: rgba(28, 27, 29, 0.5);
  backdrop-filter: blur(8.5px);
  &.visible {
    transform: translateX(0);
  }
}

.catalog__filter {
  .noUi-horizontal .noUi-handle {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
  .noUi-touch-area {
    // background-image: url("../assets/images/common/range.svg");
    // background-size: 100% 100%;
  }
  .noUi-horizontal .noUi-handle {
    cursor: pointer;
    &:active {
      cursor: grabbing;
    }
  }
  .noUi-handle:before,
  .noUi-handle:after {
    display: none;
  }
  .noUi-horizontal {
    height: 0.4rem;
    border: none;
  }
  .noUi-target {
    box-shadow: none;
    background: none;
  }
  .noUi-horizontal .noUi-tooltip {
    // bottom: -385%;
    top: 100%;
    color: #fff;
    line-height: 1.5;
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.45rem;
    text-transform: uppercase;
  }
  .noUi-connects {
    // width: 100%;
    border-radius: 25.8rem;
    background: rgba(255, 255, 255, 0.5);
  }
  .noUi-connect {
    border-radius: 25.8rem;
    background: #fff;
  }
  .noUi-horizontal .noUi-handle {
    width: 1.3rem;
    height: 1.3rem;
    top: -0.4rem;
    right: -1rem;
    border-radius: 9999px;
    background: #fff;
  }
}

.no-anim {
  transition: none !important;
}

.links-index {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.title {
  color: #fff;
  font-family: "Cormorant";
  font-size: 9.5rem;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
}
.subtitle {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.85rem;
  text-transform: uppercase;
}
body {
  &.hidden {
    overflow: hidden;
  }
}
.breadcrumb {
  margin-top: 15.8rem;
  &.card {
    // position: absolute;
    // top: 15.8rem;
    margin-top: 0;
  }
  &__routes {
    display: flex;
    gap: 5.2rem;
    color: #909091;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.5;
    &-name {
      position: relative;
      &.active {
        color: #fff;
        &::before {
          background-color: #fff;
        }
      }
      &:first-child {
        &::before {
          display: none;
        }
      }
      &::before {
        content: "";
        position: absolute;
        left: -2.4rem;
        top: 50%;
        width: 0.4rem;
        height: 0.4rem;
        border-radius: 50%;
        background-color: #909091;
        transform: translateY(-50%);
      }
    }
  }
}
.breadcrumb ~ .banner {
  margin-top: 6.8rem;
  height: auto;
}
.breadcrumb.card ~ .banner {
  margin-top: 0;
}
.inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  z-index: -1;
  &-left {
    height: 105.8rem;
    width: 50%;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  &-right {
    height: 105.8rem;
    flex: 1;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
}
.navigation {
  position: relative;
  display: flex;
  height: fit-content;
  &-prev,
  &-next {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8.2rem;
    height: 8.2rem;
    border: 1px solid #ffffff34;
    border-radius: 50%;
    cursor: pointer;
    svg {
      width: 6rem;
      height: 6rem;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.6rem;
    height: 0.6rem;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  &-prev {
    svg {
      transform: translateX(-50%);
    }
  }
  &-next {
    svg {
      transform: translateX(50%);
    }
  }
}
.popular {
  padding-top: 6.2rem;
  &__content {
    padding-top: 6.9rem;
    display: flex;
    gap: 1.8rem;
    align-items: center;
    &-title {
      width: 103.9rem;
      display: flex;
      flex-direction: column;
      gap: 0rem;
      &--mob {
        display: none;
      }
      p {
        &:nth-child(2) {
          text-align: end;
        }
        &:last-child {
          display: inline-block;
          text-align: end;
          margin-right: 23rem;
        }
      }
    }
    &-btn {
      margin-left: auto;
    }
    &-description {
      margin-top: auto;
      width: 21.3rem;
      color: #909091;
      font-size: 1.8rem;
      font-weight: 300;
      line-height: 1.4;
      letter-spacing: 0.09rem;
    }
  }
}
.pagination {
  position: relative;
  height: 6rem;
  display: flex;
  gap: 4.8rem;
  color: #fff;
  font-family: "BazaART";
  font-size: 2.7rem;
  font-weight: 400;
  line-height: normal;
  &-current {
    align-self: flex-start;
  }
  &-last {
    align-self: flex-end;
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    background-color: #fff;
    transform: translate(-50%, -50%);
  }
}
.request {
  margin-bottom: 32.6rem;
  &__container {
    padding: 8.9rem 14rem 0rem 14rem;
  }
  &__top {
    margin-bottom: 14.4rem;
    &-text {
      display: flex;
      justify-content: space-between;
      color: #fff;
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 1.66;
      letter-spacing: 3.75px;
      text-transform: uppercase;
    }
  }

  &__content {
    position: relative;
    color: #fff;
    text-align: center;
    font-family: "Cormorant";
    font-size: 9.5rem;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    &-text {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
      color: #ffffff85;
      &--anim {
        background-image: linear-gradient(
          to right,
          rgba(255, 255, 255, 0) 50%,
          rgb(255, 255, 255) 50%
        );
        background-size: 200%;
        background-position: 0 0;
        display: inline;
        transition: 1s ease-in-out;
        text-transform: uppercase;
        -webkit-background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 2;
        &.anim-fill-text {
          background-position: -100% 0;
        }
      }
    }
    &-text-order {
      display: none;
    }
    &-img {
      position: absolute;
      top: -16.8rem;
      right: 41.8rem;
      width: 37.4rem;
      height: 33.5rem;
    }
  }
  &__form {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    &-container {
      width: 121.5rem;
      display: flex;
      flex-wrap: wrap;
      column-gap: 6rem;
      row-gap: 3.1rem;
    }
    &-info {
      color: rgba(255, 255, 255, 0.25);
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.7;
      letter-spacing: 0.7px;
    }
    &-wrapper {
      width: 36.5rem;
      height: 4rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.66;
      letter-spacing: 3.75px;
      text-transform: uppercase;
      input {
        width: 100%;
        height: 100%;
        border-bottom: 1px solid #fff;
        padding-bottom: 1.5rem;
        &::placeholder {
          color: #fff;
          font-size: 1.5rem;
          font-weight: 400;
          letter-spacing: 3.75px;
          text-transform: uppercase;
        }
      }
    }
  }
  &__btn {
    position: relative;
    width: 25.3rem;
    height: 25.3rem;
    border-radius: 50%;
    &-arrow {
      position: absolute;
      top: 8.6rem;
      left: -4.4rem;
      width: 10.8rem;
      &::after {
        content: "";
        position: absolute;
        right: -3rem;
        top: 50%;
        transform: translateY(-50%);
        width: 0.6rem;
        height: 0.6rem;
        background-color: #fff;
        border-radius: 50%;
      }
      svg {
        width: 100%;
        height: 100%;
      }
    }
    &-text {
      position: absolute;
      bottom: 6.1rem;
      right: 0;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.66;
      letter-spacing: 3.75px;
      text-transform: uppercase;
      &--first {
        margin-left: -8rem;
      }
    }
  }
}
.section__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 11rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: 3.75px;
  text-transform: uppercase;
}
.btn {
  position: relative;
  width: 25.3rem;
  height: 25.3rem;
  z-index: 2;

  &.banner__btn {
    .btn-text--first {
      margin-left: -4rem;
    }
  }
  &.catalog {
    top: 52.1rem;
    right: 46rem;
  }
  &-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
  }
  &-arrow {
    position: absolute;
    top: 8.6rem;
    left: -4.4rem;
    width: 10.8rem;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
    &::after {
      content: "";
      position: absolute;
      right: -3rem;
      top: 50%;
      transform: translateY(-50%);
      width: 0.6rem;
      height: 0.6rem;
      background-color: #fff;
      border-radius: 50%;
      transform: translateY(-50%) translateX(0);
      transition: transform 0.5s ease-in-out;
    }
    svg,
    img {
      width: 100%;
      height: 100%;
    }
    img {
      display: none;
    }
  }
  &-text {
    position: absolute;
    bottom: 6.1rem;
    right: 0;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: 3.75px;
    text-transform: uppercase;
    &--first {
      margin-left: -8rem;
    }
  }
  &:hover {
    .btn-back {
      transform: scale(1.3);
    }
    .btn-arrow {
      transform: translateX(5rem);
      &::after {
        transform: translateY(-50%) translateX(-2rem);
      }
    }
  }
}
.form {
  &_input {
    &.error {
      border-color: #bb2e2e;
    }
  }
}
.br {
  &-mob {
    display: none;
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-200%);
  transition: transform 0.3s ease-in-out;
  z-index: 1111;
  &.visible {
    transform: translateX(0);
  }
  &__success {
    display: none;
    padding-top: 6rem;
    &.visible {
      display: flex;
      flex-direction: column;
    }
  }
  &_container {
    position: relative;
    width: 127.8rem;
    height: 74.2rem;
    display: flex;
    gap: 8.3rem;
    background: url("../assets/images/modal_back.png");
    background-size: 100% 100%;
  }
  &__image {
    width: 39.1rem;
    height: 100%;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  &__main {
    display: none;
    padding-top: 6rem;
    width: 53.3rem;
    flex-direction: column;
    gap: 5rem;
    &.visible {
      display: flex;
    }
    &-desc {
      margin-top: 2rem;
      color: #909091;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 300;
      line-height: 1.4;
      letter-spacing: 0.09rem;
    }
    &-close {
      position: absolute;
      top: 1.8rem;
      right: 1.8rem;
      width: 4.2rem;
      height: 4.2rem;
      svg {
        width: 100%;
        height: 100%;
      }
    }
    &-title {
      color: #fff;
      font-family: "Cormorant";
      font-size: 7.8rem;
      font-weight: 400;
      line-height: 1;
      text-transform: uppercase;
    }
  }
  &__form {
    width: 36.5rem;
    display: flex;
    flex-direction: column;
    &-inp {
    }
    &-wrapper {
      position: relative;
      width: 100%;
      margin-bottom: 6rem;
      // border-bottom: 1px solid #fff;
      // &::after {
      //   content: "";
      //   position: absolute;
      //   width: 100%;
      //   height: 0.1rem;
      //   left: 0;
      //   bottom: 0;
      //   background-color: #fff;
      // }
      &:nth-child(3) {
        margin-bottom: 2.8rem;
      }
      input {
        width: 100%;
        padding-bottom: 2rem;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.66;
        letter-spacing: 0.375rem;
        text-transform: uppercase;
        border-bottom: 1px solid #fff;
        &::placeholder {
          color: #909091;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.66;
          letter-spacing: 0.375rem;
          text-transform: uppercase;
        }
      }
    }
    &-btn {
      position: absolute;
      right: 6rem;
      bottom: 6rem;
    }
    &-agreement {
      width: 26.5rem;
      color: rgba(255, 255, 255, 0.2);
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.075rem;
    }
  }
}
@media (max-width: 48em) {
  .br {
    &-desk {
      display: none;
    }
    &-mob {
      display: block;
    }
  }
  .breadcrumb {
    margin-top: 17.8rem;
    &.card {
      position: absolute;
      // top: 17.8rem;
      top: 16.8rem;
      left: 3.2rem;
    }
    &__routes {
      width: max-content;
      gap: 4.8rem;
      font-size: 2.8rem;
    }
  }
  .breadcrumb ~ .banner {
    margin-top: 6.4rem;
  }
  .btn {
    width: 28rem;
    height: 28rem;
    &.banner__btn {
      .btn-text--first {
        margin-left: -3rem;
      }
    }
    &-text {
      font-size: 2.6rem;
      font-weight: 400;
      line-height: 1.53;
      letter-spacing: 2.6px;
      text-transform: uppercase;
    }
    &-arrow {
      width: 12.8rem;
      height: 3.6rem;
      svg {
        display: none;
      }
      img {
        display: block;
      }
    }
  }
  .navigation {
    &-prev,
    &-next {
      width: 8.8rem;
      height: 8.8rem;
      svg {
        width: 7.2rem;
        height: 2.4rem;
      }
    }
    &-next {
      svg {
        transform: translateX(40%);
      }
    }
    &-prev {
      svg {
        transform: translateX(-40%);
      }
    }
  }
  .pagination {
    height: 9rem;
    font-size: 3.6rem;
    font-weight: 400;
    line-height: normal;
    &::after {
      width: 0.8rem;
      height: 0.8rem;
    }
  }
  .request {
    margin-bottom: 24rem;
    &__container {
      padding: 24rem 3rem 0rem 3rem;
    }
    &__top {
      margin-bottom: 7.2rem;
      &-text {
        justify-content: center;
        font-size: 2.6rem;
        font-weight: 400;
        line-height: 1.53;
        letter-spacing: 2.6px;
        text-transform: uppercase;
        &--right {
          display: none;
        }
      }
    }
    &__content {
      margin-bottom: 7.4rem;
      text-align: center;
      font-family: "Cormorant";
      font-size: 7.2rem;
      font-weight: 400;
      line-height: 1;
      text-transform: uppercase;
      &-text-order {
        display: block;
        font-size: 2.6rem;
        font-weight: 400;
        line-height: 1.53;
        letter-spacing: 2.6px;
        text-transform: uppercase;
        text-align: center;
      }
      br {
        &:last-child {
          display: none;
        }
      }
      &-img {
        top: 1.2rem;
        right: 12.8rem;
        width: 21.2rem;
        height: 19.8rem;
      }
    }
    &__main {
      margin-top: 10rem;
    }
    &__form {
      flex-direction: column;
      &-container {
        width: 100%;
        flex-direction: column;
      }
      &-wrapper {
        width: 100%;
        height: auto;
        input {
          padding-bottom: 3.2rem;
          font-size: 2.6rem;
          font-weight: 400;
          line-height: 1.53;
          letter-spacing: 2.6px;
          &::placeholder {
            font-size: 2.6rem;
          }
        }
      }
      &-info {
        margin-top: 1.6rem;
        text-align: center;
        font-size: 2.8rem;
        font-weight: 300;
        line-height: 1.42;
        letter-spacing: 0.7px;
      }
    }
    &__btn {
      margin: 0 auto;
      margin-top: 10rem;
      .btn-text--first {
        margin-left: -6rem;
      }
    }
  }
  .section {
    &__top {
      margin-bottom: 6rem;
      text-align: center;
      font-size: 2.6rem;
      font-weight: 400;
      line-height: 1.53;
      letter-spacing: 0.5rem;
      text-transform: uppercase;
    }
  }
  .subtitle {
    text-align: center;
    font-size: 3.7rem;
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: 1rem;
    text-transform: uppercase;
  }
  .catalog__filter {
    .noUi-horizontal .noUi-handle {
      background-color: transparent;
      border: none;
      box-shadow: none;
    }
    .noUi-touch-area {
      // background-image: url("../assets/images/common/range.svg");
      // background-size: 100% 100%;
    }
    .noUi-horizontal .noUi-handle {
      cursor: pointer;
      &:active {
        cursor: grabbing;
      }
    }
    .noUi-handle:before,
    .noUi-handle:after {
      display: none;
    }
    .noUi-horizontal {
      height: 0.4rem;
      border: none;
    }
    .noUi-target {
      box-shadow: none;
      background: none;
    }
    .noUi-horizontal .noUi-tooltip {
      // bottom: -385%;
      top: 100%;
      color: #fff;
      line-height: 1.5;
      background-color: transparent;
      border: none;
      color: rgba(255, 255, 255, 0.5);
      font-size: 3rem;
      font-weight: 400;
      letter-spacing: 0.45rem;
      text-transform: uppercase;
    }
    .noUi-connects {
      // width: 100%;
      border-radius: 25.8rem;
      background: rgba(255, 255, 255, 0.5);
    }
    .noUi-connect {
      border-radius: 25.8rem;
      background: #fff;
    }
    .noUi-horizontal .noUi-handle {
      width: 2.6rem;
      height: 2.6rem;
      top: -1rem;
      right: -1rem;
      border-radius: 9999px;
      background: #fff;
    }
  }
  .popular {
    padding-top: 0;
    &__string {
      display: none;
    }
    &__content {
      position: relative;
      padding-top: 30.2rem;
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
      &-title {
        display: none;
        &--mob {
          position: relative;
          margin-top: 4.8rem;
          margin-bottom: 1.8rem;
          order: 2;
          display: block;
          width: 100%;
          font-family: "Cormorant";
          text-transform: uppercase;
          font-size: 7.2rem;
          display: flex;
          flex-direction: column;
          gap: 0rem;
          &::after {
            content: "";
            position: absolute;
            height: 2px;
            width: 100%;
            background: url("./assets/images/line.svg");
            background-size: 100% 100%;
            top: -4.4rem;
          }
          p {
            &:nth-child(2) {
              text-align: start;
              padding-left: 13rem;
            }
            &:last-child {
              display: inline-block;
              text-align: end;
            }
          }
        }
      }
      &-btn {
        position: absolute;
        top: -4.2rem;
        right: 5.6rem;
        order: 1;
        .btn-text--first {
          margin-left: -3.6rem;
        }
        .btn-text {
          margin-right: -6rem;
          letter-spacing: 0.65rem;
        }
      }
      &-description {
        width: 42.8rem;
        order: 3;
        margin: 0;
        font-size: 2.6rem;
      }
    }
  }
}
